header{
    background-color: transparent;

}
footer{
  display: inline-flex;
  flex: 1;
  background-color: tomato;
  width: 100%;
  align-content: center;
  justify-content: center
}
footer h5{
  padding: 5px;
}
.h2{
  font-family: 'Dosis';
  font-weight: bold;
  font-size: 16px;
}
#icon1{
    padding-right:3%;
    font-size: 38px;
}
.flex-container {
    display:flex;
    background-color:transparent;
    align-items:center;
    justify-items: center;
    flex-direction: row;
    width: 100%;
  }
.flex-container  div {
    background-color: transparent;
    padding-right: 10px;
    flex: 5;
  }
  .foter{
   bottom: 15px;
   width: 100%;
   background-color:transparent;
   display:block;
   margin: 10px;
  }
  .foter div{
  display: flex;
  flex-direction: row;
  }
  .form1{
  background-color:transparent;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  flex: 40%;
  }
  input[type=submit] {
    background-color:black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  input[type=text]{
    height: 25px;
    width: 40%;
    background-color: transparent;
    color: black;
    padding: 10px auto ;
    margin-bottom: 5px;
    border-color: black;
  }
  input[type=tel]{
    background-color: transparent;
    color: black;
    padding: auto;
    height: 25px;
    width: 40%;
    margin-bottom: 5px;
    border-color: black;
  }
  .leftnav {
    flex: 30%;
    background-color:rgba(0, 0, 0, 0.027) ;
    display:inherit;
    align-items : center;
    flex-direction:column;
  }
  .leftnav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: "Dosis";
    font-size: 25px;
    color: black;
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight:bold;
    font-style:normal;
    font-size: 38px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
  }
  .material-icons a{
    text-decoration: none;
    font-weight: lighter;
  }
  section{
    display: flex;
    flex-direction:row;
  }
  section p{
    text-align: justify;
    font-family:'Open Sans';
  }
  .unav{
    display: flex;
    flex-direction: row;
    padding: 0px 5px 0px;
    align-items: center;
    justify-content:space-around;
    position:sticky;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.096);
    width: 100%;
  }
  .butn
  {
    background-color: transparent;
    padding: 5px;
    color:black;
    border-style:none;
    box-sizing: unset;
    text-align: center;
  }
  .unav div{
    /*align-items: center;*/
    text-align-last: auto;
  }
    .butn:hover
    {
      
      background-color:white;
    }
    .unav:hover
    {
      background-color:yellow;
    }
    @media screen and (max-width:414px) {
      body{width: 112%;}
      section{width: 120%;}
      footer{width:115%;}
      .unav{/*flex-direction: column;width:114%;*/  display: none;}
      .flex-container{width:110%;}
    }
    @media screen and (min-width:800px) {
      .leftnav{flex: 15%;}
    }
